body {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #53b7f1;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.nav-image {
  width: 23px;
  height: 23px;
  border-radius: 5px;
  margin-right: 10px;
}

.assess-group {
  width: 250px;
  border: solid 1px #000;
  border-radius: 20px;
  margin: 10px auto 0 auto;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 54px;
  z-index: 10;
  background-image: repeating-conic-gradient(
    hsl(174, 100%, 94%) 0,
    hsl(177, 82%, 85%) 10%,
    hsl(174, 84%, 90%) 20%
  );
}

.sougou {
  background: linear-gradient(rgb(251, 244, 133), #d3cf0f); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px #000;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 900;
}
.star {
  font-size: 15px;
  vertical-align: text-top;
  margin: 0 5px;
}

.total-rank {
  background: -webkit-linear-gradient(#bcbbff, #413ef1, #0e0ae6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px #000;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;
  margin-top: -15px;
  position: relative;
}
.rank-e {
  background: -webkit-linear-gradient(rgb(156, 248, 182), rgb(15, 207, 73), rgb(17, 97, 41));
  -webkit-background-clip: text;
}
.rank-d {
  background: -webkit-linear-gradient(rgb(251, 238, 204), rgb(251, 198, 100), rgb(255, 174, 0));
  -webkit-background-clip: text;
}
.rank-c {
  background: -webkit-linear-gradient(rgb(255, 223, 187), rgb(245, 145, 31), rgb(223, 121, 4));
  -webkit-background-clip: text;
}
.rank-b {
  background: -webkit-linear-gradient(rgb(248, 196, 187), rgb(253, 87, 58), rgb(224, 35, 2));
  -webkit-background-clip: text;
}
.rank-a {
  background: -webkit-linear-gradient(rgb(255, 204, 232), rgb(251, 65, 168), rgb(248, 4, 138));
  -webkit-background-clip: text;
}
.rank-s {
	background: repeating-linear-gradient(0deg, #f3e302 0.1em, #dac508 0.2em, #FEE9A0 0.3em, #ffd013 0.4em, #ffe604 0.5em); 
	-webkit-background-clip: text;
}
.small {
  background: repeating-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255)); 
	-webkit-background-clip: text;
  font-size: 30px;
  font-weight: 900;
  margin-left: -12px;
}
.ss {
  background: repeating-linear-gradient(0deg, #f3e302 0.1em, #dac508 0.2em, #FEE9A0 0.3em, #ffd013 0.4em, #ffe604 0.5em); 
	-webkit-background-clip: text;
  font-size: 50px;
  margin-left: -10px;
}
.rank-pg {
  background: repeating-linear-gradient(-45deg, #e590ff 0.1em, #f2ddf6 0.2em, #dd84f8 0.3em, #ed6ef8 0.4em, #f5b8fd 0.5em); 
	-webkit-background-clip: text;
}
.small-g {
  background: repeating-linear-gradient(-45deg, #8f8f8f 0.1em, #b8b8b8 0.2em, #E8E8E8 0.3em, #b6b6b6 0.4em, #9e9e9e 0.5em); 
	-webkit-background-clip: text;
  font-size: 30px;
  margin-left: -12px;
}
.small-number {
  background: repeating-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255)); 
	-webkit-background-clip: text;
  font-size: 25px;
  margin-top: -20px;
  margin-left: -12px;
  position: absolute;
  top: 30px;
}

.total-assess {
  font-size: 20px;
  margin-top: -15px;
}

.assess-aim {
  background: linear-gradient(rgb(248, 240, 126), #ddda1c); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  -webkit-text-stroke: 0.3px #000;
}
.aim-gray {
  background: linear-gradient(rgb(230, 228, 228), #9c9c9c); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-reset {
  color: #fff;
  font-weight: bold;
  background-color: #003cff;
  border-color: #003cff;
  border-radius: 5px;
  margin-top: 10px;
}
.btn-reset:hover {
  cursor: pointer;
}
.btn-reset:focus {
  outline: 0;
}

.ballisticImage {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 900;
}
.ballisticImage-2 {
  background: -webkit-linear-gradient(rgb(255, 223, 187), rgb(245, 145, 31), rgb(223, 121, 4));
  -webkit-background-clip: text;
  transform: rotate(-10deg);
}
.ballisticImage-3 {
  background: -webkit-linear-gradient(rgb(248, 196, 187), rgb(253, 87, 58), rgb(224, 35, 2));
  -webkit-background-clip: text;
  transform: rotate(-30deg);
}
.ballisticImage-4 {
  background: -webkit-linear-gradient(rgb(255, 204, 232), rgb(251, 65, 168), rgb(248, 4, 138));
  -webkit-background-clip: text;
  transform: rotate(-65deg);
}

.basisLevel {
  background: -webkit-linear-gradient(rgb(156, 248, 182), rgb(15, 207, 73), rgb(17, 97, 41));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 900;
}
.basis-s {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
.small-2 {
  font-size: 18px;
  margin-left: -7px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.ability-group {
  justify-content: center;
}

table {
  width: 70%;
  background-color: #05055c;
  margin: 10px auto;
  border-radius: 5px;
}
table img {
  width: 40px;
  height: 40px;
}

.spability-group {
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #05055c;
}
.spability-title {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #111111;
}

.btn-primary {
  font-size: 12px;
  font-weight: bold;
  color: #011ec0;
  margin: 2px;
  width: 100px;
  height: 40px;
  background: linear-gradient(#98e7fb, #00ccff);
  white-space: nowrap;
  padding: 0;
}
.btn:focus {
  color: #011ec0;
  background: linear-gradient(#98e7fb, #00ccff);
  border-color: #00ccff;
}
.btn-primary.disabled {
  color: #011ec0;
  background: linear-gradient(#98e7fb, #00ccff);
  border-color: #00ccff;
}
.btn.disabled {
  opacity: 0.55;
}

.btn-primary.gold-ability {
  color: #442501;
  background: linear-gradient(#feb, #d1ce08);
  border-color: #d1ce08;
}
.btn-primary.rainbow-ability {
  color: #612401;
  background: linear-gradient(45deg, #fa5757, #ffb938, #fdfd62, #5dff5d, #4ff5f5, #3d3df8, #fd59fd);
  border-color: linear-gradient(45deg, #fa5757, #ffb938, #fdfd62, #5dff5d, #4ff5f5, #3d3df8, #fd59fd);
}
.btn-primary.blue-red-ability {
  color: #011ec0;
  background: linear-gradient(90deg, #a2e3f3 0%, #00ccff 50%, #ee7474 50%, #f8a8a8 100%);
}
.btn-primary.green-ability {
  color: #004406;
  background: linear-gradient(#affaaf, #68e668);
  border-color: #68e668;
}

.loader_wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.loader_wrap.hide {
  display: none;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  position: absolute;
  top: 30vh;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 350px) {
  .ability-group .col-md-12 {
    padding: 0;
  }
  .ballistic-value {
    width: 30px;
  }
  .basisValue {
    width: 38px;
  }
}

@media (max-width: 380px) {
  .ability-group .col-md-12 {
    padding: 0;
  }
  .ballistic-value {
    width: 35px;
  }
  .basisValue {
    width: 42px;
  }
}

@media (max-width: 400px) {
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
  }
  .btn-primary {
    font-size: 11px;
    width: 30%;
  }
  .ability-group .col-md-12 {
    padding: 0;
  }
}